.btn-primary {
    background-color: aliceblue;
    color: black;
    border-color: black;
}
.btn-primary:hover {
    background-color: white;
    color: black;
}
 .imageofI {
    height: 100px;
    width: 100px;
 }
 .nav-item {
     font-weight: bold;
     color: black;
 }
  #portfolio-text {
      color: black;
  }
h1 {
    text-align: center;
    background-color: coral;
    margin-top: 15px;
    color: white;
}
.phoneNumber {
    text-align: center;
    color: white;
    background-color: black;
    width: 200px;
    margin-left: 450px;
    
}
body {
    background-color: black;
}
label {
    color: white;
}
.btn {
    background-color: black;
    color: white;
    border-color: white;
}
.btn:hover {
    background-color: grey;
    border-color: white;
}
.gitHub {
    color: white;
    background-color: black;
    font-size: 20px;
    text-align: center;
    margin-left: 475px;
}
.gitHub:hover {
    color: coral;
}
h2 {
    color: white;
    text-align: center;
}
.accordion-item {
    color: white;
}
.accordion-button {
    color: white;
}
.accordionOne {
    font-size: 20px;
    text-align: center;
}
.accordionTwo {
    font-size: 20px;
    text-align: center;
}
.col-xs-2 {
    color: white;
}